[Unit]
Description=Timer for Restic Snapshot Scan %i
Documentation=https://restic.readthedocs.io/

[Timer]
OnCalendar={{ restic_scan_timer_on_calendar }}

Persistent={{ restic_timer_persistent | lower }}
RandomizedDelaySec={{ restic_timer_randomized_delay }}
AccuracySec={{ restic_timer_accuracy }}

[Install]
WantedBy=timers.target
